.status {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.elements {
  font-weight: normal;
}
.item {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  width: 17%;
  background-color: rgb(231, 253, 255);
}
.red {
  background-color: rgb(236, 17, 17);
}

.name {
  font-style: oblique;
  font-size: 20px;
  font-weight: normal;
}

.green {
  background-color: rgb(0, 179, 60);
}
